body {
    font-size :10px;
}
p{
    font-family: Arial;
}
p{
    font-size:2.0em;
}
h1{
    font-family:Georgia;
}
h1{
    font-size:2.0em;
}
span{
    font-size :2.0em;
}
h3{
    font-family:Georgia;
}
/*here using em doubles the size of the already present para font size*/